.App {
  text-align: center;
  width:100%;
}

.App-header {
  margin:auto;
  background-color: #222;
  width:80%;
  height: 10%;
  padding-top: 20px;
  color: white;
  font-family: 'Titan One', cursive;
  border-bottom:2px solid white
}

.App-title {
  font-size: 4em;
  text-shadow: purple 4px 6px;
}

.App-intro {
  font-size: large;
}

.appContainer{margin-top:40px;
              margin-bottom:40px;
              width:100%;
              display:grid;
              grid-template-columns:repeat(2,1fr);
              grid-auto-rows:1fr;
              justify-items:center;
              align-items:center;
              grid-gap:100px 0px;
              margin-left: 0px;
              transition:         1s ease all;
              -moz-transition:    1s ease all;
              -ms-transition:     1s ease all;
              -o-transition:      1s ease all;
              -webkit-transition: 1s ease all;
}

.noteContainer{display:none;
               flex-direction:column;
               justify-content:flex-start;
               margin-bottom:40px;
               height:100vh;
               width:100%;
               opacity:0;
               transition:         0.5s ease all;
               -moz-transition:    0.5s ease all;
               -ms-transition:     0.5s ease all;
               -o-transition:      0.5s ease all;
               -webkit-transition: 0.5s ease all;
}

.noteArea{border:none;
          width:80%;
          height:80vh;
          background-color:#303030;
          resize: none;
          color:white;
          padding:10px;
          font-family: 'Open Sans', sans-serif;

}

#cleanNote>button{ color:white;
                    background-color:transparent;
                    border:none;
                    width:auto;
                    font-family: 'Open Sans', sans-serif;}

#cleanNote>button:hover{ color:red;
                  font-family: 'Open Sans', sans-serif;}

#testoNote{color:white;  
          font-family: 'Titan One', cursive;
        }

/*media smart*/

@media (max-width:350px)  {
  .App-title {
    font-size: 50px;
  }
}

/*media second size*/
@media (max-width:1200px)  {
              .appContainer{
                            margin-top:40px;
                            margin-bottom:40px;
                            width:100%;
                            display:grid;
                            grid-template-columns:minmax(80%,1fr);
                      }
              .schedaClass:nth-child(1) {
                        margin-left:0px !important;
              }

              .schedaClass:nth-child(2) {
                        margin-left:0px !important;
              }

              .schedaClass:nth-child(3) {
                        margin-left:0px !important;
              }

              .schedaClass:nth-child(4) {
                        margin-left:0px !important;
                        margin-bottom:0px;
              }

              .schedaClass{ width:90% !important;
                            margin-bottom:20px;
              }

.navBar{display:flex !important;
        opacity:1;
        transition: ease all 0.5s;
        width:100%;
        justify-content:space-between;
        align-items:flex-end;}
        
.buttonNav{width:100%;
          height:40px;
          transition: margin-top height 0.5s;
          display:flex;
          flex-direction:column;
          justify-content:center;        
          border:solid 2px white;} 

.buttonNav > a{text-decoration:none;
              color:white;}

.buttonNav:hover{height:45px;
                margin-top:-45px;}

.buttonNav:nth-child(1) {
              background-color:rgb(146,194,31);
  }

.buttonNav:nth-child(2) {
              background-color:rgb(255,112,98);
  }

.buttonNav:nth-child(3) {
              background-color:rgb(217,125,238);
  }

.buttonNav:nth-child(4) {
              background-color:rgb(4,168,255);
  }

}

.navBar{display:none}

.schedaClass{ width:40%;
              height:100%;
              padding:18px 5px 18px 5200pxpx;
              background-color:rgb(146,194,31);
              border:solid 1px black;
              border-radius:6px;
              color:white;
              -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
              box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
              transition:box-shadow 0.5s;
              display:flex;
              flex-direction:column;
              justify-content:center;
              }

.schedaClass:hover{
              -webkit-box-shadow: 9px 10px 7px 2px rgba(0,0,0,0.75);
              -moz-box-shadow: 9px 10px 7px 2px rgba(0,0,0,0.75);
              box-shadow: 9px 10px 7px 2px rgba(0,0,0,0.75);        
}

.schedaClass:nth-child(1) {
              margin-left:200px;
}

.schedaClass:nth-child(2) {
              background-color:rgb(255,112,98);
              margin-left:-200px;
}

.schedaClass:nth-child(3) {
              background-color:rgb(217,125,238);
              margin-left:200px;
}

.schedaClass:nth-child(4) {
              background-color:rgb(4,168,255);
              margin-left:-200px;
}

.infoClass{
          height:100%;
          display:flex;
          flex-direction:column;
          justify-content:space-around;
}

.rowClass{display:flex;
          flex-direction:column;
          justify-content:center;
          margin-left:10px;
          margin-right:10px;
          border-bottom:1px solid black;}     

.rowClass:last-child{border:none;}

.inputClass{width:30%;
            style:none;
            background-color:transparent;
            border:none;
            border-bottom:1px solid #222}

.leftText{font-family: 'Spectral SC', serif;
          color:black;
          font-weight: bold;  
        }

.rightText{ font-size:1.5em;
            color:white;
            font-family: 'Open Sans', sans-serif;}

input { background-color:transparent;
        border:none;
        padding:15px 0px 30px 0px;
        font-size:1.5em;
        color:white;
        font-family: 'Open Sans', sans-serif;
        text-align:center;}

.footerBar{height:100px;
          color:#808080;
          width:100%;
          bottom:0;
          padding-top:5px;
          background-color: #303030;
          display:flex;
          flex-direction:column;
          -webkit-box-shadow: inset 0px 10px 5px -3px rgba(0,0,0,0.75);
          -moz-box-shadow: inset 0px 10px 5px -3px rgba(0,0,0,0.75);
          box-shadow: inset 0px 10px 5px -3px rgba(0,0,0,0.75);}

.technologies{display:flex;
              justify-content:center;
              height:25px;}

.technologies > img {margin-right: 10px;}

.linkeLink > a {text-decoration:none;
                color:inherit}

.linkeLink > a:hover{color:rgb(146,194,31);
                text-decoration:none;}

.bottoneNav{position:fixed;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            align-items:center;
            width:40px;
            height:auto;
            left:20px;
            top: 20px;}

.bottoneOpen{width:50px;
            height:50px;
            border-radius:50px;
            font-size:20px;
            color:#fff;
            line-height:50px;
            text-align:center;
            user-select:none;
            transform:rotate(-360deg);
            transition:0.5s ease all;
            opacity:0.5;
            background:#303030;
            -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            margin-bottom:5px;
          }

.bottoneOpen:hover{opacity:1;
                    transform:rotate(0deg);
                    box-shadow:none;
                    }

.bottoneOpen:active{opacity:1;
                    transform:rotate(0deg);
                    box-shadow:none;
                    }


.bottoneHome{display:none;
            width:40px;
            height:40px;
            border-radius:50px;
            font-size:18px;
            color:#fff;
            line-height:40px;
            text-align:center;
            user-select:none;
            transform:rotate(-360deg);
            transition:0.5s ease all;
            opacity:0.7;
            background:rgba(128,128,128);
            -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            margin-bottom:5px;}

.bottoneHome:hover{opacity:1;
              transform:rotate(0deg);
              box-shadow:none;
              }

.bottoneHome:active{opacity:1;
              transform:rotate(0deg);
              box-shadow:none;
              }

.bottoneNote{display:none;
            width:40px;
            height:40px;
            border-radius:50px;
            font-size:18px;
            color:#fff;
            line-height:40px;
            text-align:center;
            user-select:none;
            transform:rotate(-360deg);
            transition:0.5s ease all;
            opacity:0.7;
            background:rgba(128,128,128);
            -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);}

.bottoneNote:hover{opacity:1;
              transform:rotate(0deg);
              box-shadow:none;
              }

.bottoneNote:active{opacity:1;
              transform:rotate(0deg);
              box-shadow:none;
              }